header{
  text-align: center;
}

body{
  background-color: #9594d7;
  font-family: system-ui;
}

main{
  display: grid;
  grid-template-columns: 35% 65%;
  grid-auto-flow: row dense;
  justify-content:flex-start;
  text-align: start;
  font-size: 1vw;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
}

form{
  background-color: #c0d3d9;
  padding-left: 2vw;
  padding-right: 2vw;
  border: 0.5vw rgb(73 66 118) solid;
  padding-bottom: 1vw;
}

h1{
  text-transform: uppercase;
  font-size: 2vw;
}

input {
  font-size: 1vw;
  width:7vw;
  height:1vw;
}

select{
  font-size: 1vw;
}

button{
  width:30vw;
  border: 0.1vw rgb(73 66 118) solid;
  text-transform: uppercase;
}
button:hover{
  background-color: rgb(221, 221, 221);
  border: 0.1vw rgb(59, 54, 95) solid;
}
#monthlyPayment{
  opacity: 1;
}

#maxMonthlyPayment{
  opacity: 0.5;
}

#minMonthlyPayment{
  opacity: 0.5;
}

#creditParameters{
  display:block;
  position: static;
}

#mainResults{
  display:block;
  position: static;
}

#refinancingDetails{
  display:none;
  position: static;
  grid-column: span 2;
}

th,td{
  border: 0.1vw solid;
  border-collapse: collapse;
  padding-left:0.7vw;
  padding-right:0.7vw;
}
